@charset 'utf-8';
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
  --off-white: #F5F5F5;
  --black: #1B1B1B;
  --gray: #E2E2E2
}

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  border: 0;
  font-family: 'Pretendard-Regular';
}

input:focus {
  outline: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--off-white);
}

#App {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}

h1 {
  font-size: 60px;
}

.time, .location {
  margin-top: 10px;
  font-size: 22px;
}

.calendar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
  max-width: 494px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--black);
}

.calendar-item {
  width: 70px;
  height: 70px;
  padding: 3px 5px;
  font-size: 12px;
  text-align: left;
  background-color: var(--off-white);
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

.content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 30px;
}

.calendar-item:nth-child(7n), .calendar-item:last-child {
  border-right: none;
}

.calendar-item:nth-last-child(-n+7) {
  border-bottom: none;
}

.check-button {
  display: block;
  width: 70px;
  height: 70px;
  margin: 50px auto 0;
  font-size: 19px;
  color: var(--off-white);
  background-color: var(--black);
  border-radius: 50%;
}

.habit-enroll-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 330px;
  border-radius: 10px;
  background-color: var(--off-white);
  border: 2px solid var(--black);
}

.habit-enroll-input-box {
  padding: 10px;
}

.habit-enroll-input-box > label {
  font-size: 15px;
  padding: 0 10px;
}

.habit-enroll-input {
  padding: 12px;
  width: 300px;
  height: 40px;
  font-size: 15px;
  background-color: var(--gray);
  border-radius: 10px;
}

.habit-enroll-button {
  margin-top: 20px;
  padding: 10px 40px;
  color: var(--off-white);
  border-radius: 10px;
  background-color: var(--black);
}

.dim {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.enroll-form-open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: 200;
  color: var(--off-white);
  background-color: var(--black);
  border-radius: 50%;
}

.floating-button {
  position: absolute;
  margin: 0;
  right: 20px;
  bottom: 20px;
}
